* {
    padding: 0;
    margin: 0;
}

#fundo {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #353535c0;


    #modal {
        width: 55%;
        height: 55%;
        border-radius: 20px;
        background-color: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;

        #content {
            width: 100%;
            height: 100%;
            padding: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            #imagem {
                width: 100%;
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    width: 90%;
                    height: 30%;
                }

                #trofeu{
                    width: 40%;
                    height: 50%;
                }
            }

            #botoes {
                width: 100%;
                height: 10%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    border-radius: 10px;
                    width: 40%;
                    height: 100%;
                    border: none;
                    color: #ffff;
                    background-color: #3a9427;
                }

            }
        }
    }
}