* {
    padding: 0;
    margin: 0;
}

#fundo {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #353535c0;


    #modal {
        width: 55%;
        height: 55%;
        border-radius: 20px;
        background-color: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;

        #imagem {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 70%;
                height: auto;
            }
        }
    }
}