* {
    padding: 0;
    margin: 0;
}

#ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imagem {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 35%;
            height: auto;
        }
    }

    .container-rank {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .rank {
            width: 55%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            border-radius: 10px;
            border: 1px solid black;
            // border-bottom: none;

            :last-child {
                :nth-last-of-type(-n+2) {
                    border: none;
                }
            }

            .linha {
                width: 100%;
                display: flex;
                justify-content: space-around;

                :last-child {
                    border-left: 1px solid black;
                }

                td {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 1px solid black;
                }

                th {
                    width: 50%;
                    font-size: 24px;
                    border-bottom: solid 1px black;
                }

            }
        }
    }
}