* {
  margin: 0;
  padding: 0;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.Jojinho{
  width: 50%;
  height: 70%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}