#fase{
    width: 100%;
    height: 100%;

    .background {
        width: 100%;
        height: 100%;
        
        .conteudo {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .background-luta {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                width: auto;
                height: 70%;
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .luta {
                width: 20vw;
                display: flex;
                justify-content: space-between;
                align-items: end;
                position: absolute;
                bottom: 45%;
                left: 40%;
            }

            .personagem {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .imagem-personagem {
                    width: 80%;
                    height: 80%;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    #aumenta {
                    width: 200%;
                    }
                    
                    #aumenta2 {
                        width: 200%;
                    }

                    #heroi {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 80%;
                        height: 100%;
                    }
                }
            }

            .info {
                padding: 20px;
                height: 30%;
                padding: 10px;
                background-color: lightblue;
                border: 1px #ffffff solid;

                .vidas{
                    display: flex;
                    justify-content: space-between;
                }

                .acoes{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}