* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Candara';
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;

  .Jojinho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
    background-color: lightblue;
  }
}